*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #525252;
    font-size: 14px;
    
}
#top{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    background-color: #f1f1f1;
    display: flex;
    max-width: 1980px;
    min-width: 1240px;
    

}
#top a{
    padding:  0 6px;
}
#top-1{
    margin: 0 auto;
    padding: 0px 12px;
    width: 340px;
    
    
}

#jl{
    width: 16px;
    height: 16px;
    
}
#jls{
    width: 16px;
    height: 16px;
    top: 3px;
    
}
#jls:hover{
    transition: all .3s;
    transform: rotate(180deg);
}

#zia{
    text-decoration: none;
    font-size: 14px;
    margin-left: 35px;
    color: #525252;
}
#zis{
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color:#525252;
}
#zi{ 
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color:#525252;
    
}
#zi:hover{
    color: #ff7200;
}
#zib{
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color:#525252;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    
    
    
}
#zib:hover{
    background-color: white;
    color: #ff7200;
    overflow: visible;
    line-height: 29px;

    border-top:0.5px solid#dfdfdf ;
    border-left:0.5px solid#dfdfdf ;
    border-right: 0.5px solid#dfdfdf;
}
#a:hover{
    background-color: white;
}

#kuai{
    position: absolute;
    width: 122px;
    height: 300px;
    background-color: white;
    margin-left: -6px;
    z-index: 100;
}
#kuai1{
    width: 112px;
    height: 112px;
    padding: 1px 5px;
    
}
#kuai2{
    border: 1px solid#dfdfdf;
    background-color: white;
}
#erm{
    border: 1px solid #dfdfdf;
}
#top-2{
    margin: 0 auto;
    padding: 0px 50px;
    margin-left: -50px;
    
    
}
#top-2>a:nth-child(2){
    width: 78px;
    height: 29px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#kuai3{
    width: 90px;
    height: 60px;
    background-color: white;
    position: absolute;
    border-bottom: 0.5px solid#dfdfdf;
    border-left: 0.5px solid#dfdfdf;
    border-right: 0.5px solid#dfdfdf;
    margin-left: -7px;
    z-index: 5;
}
#kuaiz{
    color:#525252 ;
}
#kuai3 span:hover{
    color:#ff7200;
}
#top-2>a:nth-child(2):hover{
    background-color: white;
    overflow: visible;
    line-height: 29px;

}
#top-2>a:nth-child(3){
    width: 94px;
    height: 30px;
    text-align: center;
}
#kuai4{
    width: 106px;
    height: 90px;
    background-color: white;
    position: absolute;
    border-bottom: 0.5px solid#dfdfdf;
    border-left: 0.5px solid#dfdfdf;
    border-right: 0.5px solid#dfdfdf;
    margin-left: -7px;
    z-index: 5;
}
#kuai4 span{
    color: #525252;
}
#kuai4 span:hover{
    color: #ff7200;
}
#top-2>a:nth-child(4){
    width: 94px;
    height: 30px;
    text-align: center;
}
#kuai5{
    width: 106px;
    height: 120px;
    background-color: white;
    position: absolute;
    border-bottom: 0.5px solid#dfdfdf;
    border-left: 0.5px solid#dfdfdf;
    border-right: 0.5px solid#dfdfdf;
    margin-left: -7px;
    z-index: 5;
}
#kuai5 span{
    color: #525252;
}
#kuai5 span:hover{
    color: #ff7200;
}
#top-2>a:nth-child(6){
    width: 89px;
    height: 30px;
    
}
h4{
    margin-left: 10px;
    color: #4d4d4d;
}
#kuai6{
    width: 230px;
    height: 160px;
    background-color: white;
    margin-left: -6px;
    border-bottom: 0.5px solid#dfdfdf;
    border-left: 0.5px solid#dfdfdf;
    border-right: 0.5px solid#dfdfdf;
    position: absolute;
    z-index: 20;
}
#kuai6 span{
    color: #525252;
    padding-left: 10px;
}
#kuai6 span:hover{
    color: #ff7200;

}
#top-2>a:nth-child(7){
    width: 100px;
    height: 30px;
    text-align: center;
}
#kuai7{
    
    width: 113px;
    height: 60px;
    background-color: white;
    border-bottom: 0.5px solid#dfdfdf;
    border-left: 0.5px solid#dfdfdf;
    border-right: 0.5px solid#dfdfdf;
    margin-left: -6.5px;
    position: absolute;
    z-index: 100;
}
#kuai7 span{
    color: #525252;
}
#kuai7 span:hover{
    color: #ff7200; 
}
#top-2>a:nth-child(8){
    width: 94px;
    height: 30px;
    
}
#kuai8{
    width: 350px;
    height: 299px;
    background-color:white;
    margin-left: -250px;
    border-bottom: 0.5px solid#dfdfdf;
    border-left: 0.5px solid#dfdfdf;
    border-right: 0.5px solid#dfdfdf;
    position: absolute;
    z-index: 5;
}
#kuai8 span:hover{
    color: #df4e68;
}
#kuai8-1,#kuai8-2{
    width: 330px;
    margin: 0 auto;
    margin-top: 5px;
    border-bottom: 0.5px solid#dfdfdf;
}

#kuai8-1,#kuai8-2,#kuai8-3 span{
    color: #525252;
    padding-left: 10px;
}
#head{
    width: 100%;
    min-width: 1200px;
    height: 120px;
    padding: 10px 0 10px;
    background: #fff;
}
#header{
    width: 1300px;
    height: 104px;
    margin: 0 auto;
    display: flex;
}
#header1{
    width: 208px;
    height: 80px;
    display: block;
    line-height: 80px;
    cursor: pointer;
    background: url(http://static.qihuiwang.com/images/logo.png) no-repeat center center;
}
#header2{
    width: 280px;
    height: 80px;
    background: url(http://static.qihuiwang.com/images/logoFont.jpg) no-repeat center center;
}
#header3{
    width: 600px;
    height: 104px;
    display: flex;
    margin-left: 30px;
}
#header3-1{
    width: 450px;
    height: 42px;
    border: 2px #ed4c4e solid;
    background: #fff;
    line-height: 80px;
    top: 20px;
    position: relative;
    z-index: 1;
    display: flex;
}
#header3-1-1{
    width: 66px;
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    color: #666;
    overflow: hidden;
}
#header3-1-1 img{
    margin-left: 10px;
}
#header3-1-1:active{
    overflow: visible;
}
#header3-1-2{
    width: 88px;
    height: 120px;
    position: absolute;
    background-color: white;
    margin-left: -12px;
    border-bottom: 0.5px solid#dfdfdf;
    border-left: 0.5px solid#dfdfdf;
    border-right: 0.5px solid#dfdfdf;
}
#header3-1-2 span{
    margin-left: 20px;
    
}
#input{
    width: 320px;
    height: 40px;
    margin-top: 1px;
    border-left: 0.5px solid #525252;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 0.5px solid white;
}
#button{
    width: 56px;
    height: 44px;
    margin-top: -1px;
    border: 1px solid red;
    background-color: #f36d58 ;
    cursor: pointer;
    
}
button img:hover{
    transition: all 1s;
    background-color: #e83146;
}
button img{
    width: 56px;
    height: 44px;
}
#bi{
    display: inline-block;
    width: 118px;
    height: 44px;
    margin-top: 20px;
    text-align: center;
    line-height: 44px;
    margin-left: 20px;
    border: 1px solid #525252;
}
#bi:hover{
    background-color: #ddd;
    transition: all .5s;
}
#header4{
    margin-left: 20px;
}
#header4 span{
    font-size: 14px;
    color: #525252;
    text-align: center;
}
#navwrap{
    width: 100%;
    height: 40px;
    background-color: white;
}
#nav{
    margin: 0 auto;
    width: 1200px;
    height: 40px;
    display: flex;
    position: relative;
    
    
}
#nav img{
    margin-left: -80px;
    padding-right: 10px;
}
#nav a:hover{
    color: #e83146;
}
#nav a:nth-child(1){
    color: white;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    background: linear-gradient(to right, #f36d58,#e83146);
    left: -50px;
}
#nav a{
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
#hot::after{
    content: '';
    width: 32px;
    height: 15px;
    background: url(http://static.qihuiwang.com/images/acg_hot.png) no-repeat center;
    background-size: auto;
    background-size: 100% auto;
    position: absolute;
    margin-left: -18px;
    top: -3px;
    z-index: 100;
    animation: dong .8s infinite linear;
}
@keyframes dong{
    0%{
        top: -1px;
    }
    50%{
        
    }
    100%{
        top: -3px;
    }
}
#banner{
    width: 100%;
    height: 510px;
    background-color: #efeeee;
    background: url(http://static.qihuiwang.com/images/acg_banner.jpg) no-repeat center top;
}
#banner1{
    width: 1200px;
    height: 490px;
    margin: 0 auto;
    background-color: white;
    display: flex;
}
#banner1-1 li{
    list-style: none;
    width: 200px;
    height: 46px;
    position: relative;
    transition: all .8s;
    /* overflow: hidden; */
}
#banner1-1 li:nth-child(1){
    overflow: hidden;
}
#banner1-1 li:nth-child(1):hover{
    overflow: visible;
}
#lik dl dd a:hover{
    color: #ff7200;
}
#z{
    color: #ff7200;
}
#banner1-1 li>a{
    margin-left: 10px;
    line-height: 46px;
    
    vertical-align: top;
}

#banner2{
    width: 740px;
    height: 490px;
    
    padding: 0 10px;
}

#lik{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -46px;
    margin-left: 200px;
    z-index: 30;
}
#lik dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 45px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik dl dd{
    width: 623px;
}
#lik dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}

#lik1{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -92px;
    margin-left: 200px;
    z-index: 20;
}
#lik1 dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 40px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik1 dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik1 dl dd{
    width: 623px;
}
#lik1 dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}
#banner1-1 li:nth-child(2){
    overflow: hidden;
}
#banner1-1 li:nth-child(2):hover{
    overflow: visible;
}
#lik1 dl dd a:hover{
    color: #ff7200;
}
#lik2{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -138px;
    margin-left: 200px;
    z-index: 20;
}
#lik2 dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 45px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik2 dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik2 dl dd{
    width: 623px;
}
#lik2 dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}
#banner1-1 li:nth-child(3){
    overflow: hidden;
}
#banner1-1 li:nth-child(3):hover{
    overflow: visible;
}
#lik2 dl dd a:hover{
    color: #ff7200;
}
#lik3{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -184px;
    margin-left: 200px;
    z-index: 20;
}
#lik3 dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 45px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik3 dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik3 dl dd{
    width: 623px;
}
#lik3 dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}
#banner1-1 li:nth-child(4){
    overflow: hidden;
}
#banner1-1 li:nth-child(4):hover{
    overflow: visible;
}
#lik3 dl dd a:hover{
    color: #ff7200;
}
#lik4{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -230px;
    margin-left: 200px;
    z-index: 20;
}
#lik4 dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 45px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik4 dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik4 dl dd{
    width: 623px;
}
#lik4 dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}
#banner1-1 li:nth-child(5){
    overflow: hidden;
}
#banner1-1 li:nth-child(5):hover{
    overflow: visible;
}
#lik4 dl dd a:hover{
    color: #ff7200;
}

#lik5{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -276px;
    margin-left: 200px;
    z-index: 20;
}
#lik5 dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 45px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik5 dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik5 dl dd{
    width: 623px;
}
#lik5 dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}
#banner1-1 li:nth-child(6){
    overflow: hidden;
}
#banner1-1 li:nth-child(6):hover{
    overflow: visible;
}
#lik5 dl dd a:hover{
    color: #ff7200;
}

#lik6{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -322px;
    margin-left: 200px;
    z-index: 20;
}
#lik6 dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 45px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik6 dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik6 dl dd{
    width: 623px;
}
#lik6 dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}
#banner1-1 li:nth-child(7){
    overflow: hidden;
}
#banner1-1 li:nth-child(7):hover{
    overflow: visible;
}
#lik6 dl dd a:hover{
    color: #ff7200;
}

#lik7{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -368px;
    margin-left: 200px;
    z-index: 20;
}
#lik7 dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 45px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik7 dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik7 dl dd{
    width: 623px;
}
#lik7 dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}
#banner1-1 li:nth-child(8){
    overflow: hidden;
}
#banner1-1 li:nth-child(8):hover{
    overflow: visible;
}
#lik7 dl dd a:hover{
    color: #ff7200;
}

#lik8{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -414px;
    margin-left: 200px;
    z-index: 20;
}
#lik8 dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 45px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik8 dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik8 dl dd{
    width: 623px;
}
#lik8 dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}
#banner1-1 li:nth-child(9){
    overflow: hidden;
}
#banner1-1 li:nth-child(9):hover{
    overflow: visible;
}
#lik8 dl dd a:hover{
    color: #ff7200;
}

#lik9{
    width: 765px;
    height: 490px;
    position: absolute;
    background-color: white;
    margin-top: -460px;
    margin-left: 200px;
    z-index: 20;
}
#lik9 dl{
    list-style-type: none;
    display: flex;
    width: 732px;
    height: 45px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e8;
    padding: 0 10px;
    line-height: 46px;
    padding: 4px 0;
}
#lik9 dl dt{
    border-left: 3px  solid red;
    color: #595959;
    width: 90px;
    
    height: 14px;
    line-height: 16px;
    padding: 0 0 0 5px;
    margin: 4px 0;
    font-weight: bold;
    margin-top: 16px;
    
}
#lik9 dl dd{
    width: 623px;
}
#lik9 dl dd a{
    list-style: none;
    font-size: 12px;
    padding: 0 8px;
    line-height: 16px;
    border-right: 1px solid #e0e0e0;
}
#banner1-1 li:nth-child(10){
    overflow: hidden;
}
#banner1-1 li:nth-child(10):hover{
    overflow: visible;
}
#lik9 dl dd a:hover{
    color: #ff7200;
}
#banner2-1{
    width: 740px;
    height: 305px;
    background-color: yellow;
    margin-top: 10px;
}
#banner2-2{
    width: 740px;
    height: 165px;
    display: flex;
    padding-top: 10px;
}
#banner2-2 a{
    display: block;
    width: 184px;
    height: 165px;
    border-right: 1px solid #f5f5f5;
    
    position: relative;
    overflow: hidden;
}
#ni{
    position: absolute;
    top: 105px;
    width: 184px;
    text-align:  center;
    line-height: 18px;
    left: 0px;
}
#ni span{
    font-size: 10px;
    color: #ff7200;
}
#banner2-2 a img:hover{
    transform: scale(1.04,1.04);
    transition: all 1s;
}
#banner2-1{
    width: 740px;
    height: 305px;
    position: relative;
    overflow: hidden;
    float: left;
}
#banner2-2>img{
    width: 740px;
}

#img{
    width: 4440px;
    display: flex;
    position: absolute;
}
.tran{
    transition: all .1s;
}
#banner3{
    width: 240px;
    height: 490px;
}
#banner3-1{
    width: 240px;
}
#banner3-1-1{
    width: 240px;
    height: 130px;
    margin-top: 10px;
}
#banner3-1-2{
    width: 240px;
    height: 158px;
    margin-top: 17px;
}
#banner3-1-1-1{
    display: flex;
    padding: 15px 0;
}
#banner3-1-1-1>img{
    width: 66px;
    height: 66px;
    border: 1px solid #eee;
    background: #f6f8fa;
    border-radius: 100%;
    margin-left: 23px;
}
#banner3-1-1-1-1{
    width: 134px;
    height: 52px;
    float: left;
    padding: 8px 0 8px 15px;
    line-height: 26px;
}
#banner3-1-1-1-1 span{
    font-size: 14px;
    height: 16px;
    width: 96px;
}
#em{
    font-size: 20px;
    color: #dd2c4b;
    vertical-align: middle;
    margin-left: 20px;
    
}
#banner3-1-1-1-1>p{
    display: inline-block;
    text-align: center;
    position: relative;
    
}
#banner3-1-1-1-1>p>img{
    position: absolute;
    top: 7px;
}
#banner3-1-1-2{
    width: 240px;
    height: 32px;
    display: flex;
}
#banner3-1-1-2>p{
    display: inline-block;
    width: 93px;
    height: 30px;
    border: 1px solid #e02445;
    margin: 0 5px;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    color: #e02445;
    cursor: pointer;
    position: relative;
    padding-left: 13px;
}
#banner3-1-1-2>p:nth-child(1){
    margin-left: 20px;
}
#banner3-1-1-2>p>img{
    position: absolute;
    top: 6px;
    left: 18px;
    background-image: url(image/p.png);
    background-size: 16px;
}
#banner3-1-1-2>p:hover{
    color: white;
    background-color: #e02445;
}
#banner3-1-2-1{
    width: 210px;
    height: 29px;
    line-height: 30px;
    display: flex;
    text-align: center;
    margin: 0 15px;
    position: relative;
    
}
#banner3-1-2-1>a{
    display: inline-block;
    border-bottom: 1px solid #dcdcdc;
    line-height: 30px;
    position: relative;
    /* overflow: hidden; */
    margin-left: 3px;
}

#banner3-1-2-1>a:nth-child(2){
    overflow: hidden;
}
#banner3-1-2-1>a:nth-child(2):hover{
    overflow: visible;
    z-index: 80;
}
#banner3-1-2-1>a:nth-child(2)>:hover{
    background-color: white;
}
#banner3-1-2-1>a:nth-child(1){
    width: 28px;
    height: 30px;
}
#banner3-1-2-1>a:nth-child(2){
    width: 28px;
    height: 30px;
}
#banner3-1-2-1>a:nth-child(3){
    width: 70px;
    height: 30px;
}
#banner3-1-2-1>a:nth-child(4){
    width: 70px;
    height: 30px;
}
#banner3-1-2-1>a:hover{
    border-bottom: 3px solid #e02445;
}
#bn1>span{
    display: flex;
    width: 240px;
    font-size: 12px;
    color: #333;
}
#bn1>span>em{
    color: #a5a5a5;
    padding-right: 2px;
    font-weight: 400;
    font-style: normal; 
}
#banner3-2 dt {
    float: left;
    width: 57px;
    height: 59px;
    background: url(http://static.qihuiwang.com/images/sprite_global.png) no-repeat -28px -247px;
    margin: 30px 20px 0 18px;
    padding: 23px 15px 25px 0;
    border-right: 1px solid #e0e0e0;
}
#banner3-2 dd {
    float: left;
    width: 129px;
    height: 48px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 15px;
}
#banner3-2>dd>p {
    color: #8a8a8a;
    line-height: 18px;
    font-size: 14px;
}
#banner3-2 dd em a {
    color: #db2242;
    font-size: 20px;
}
em{
    font-weight: 400;
    font-style: normal;
}
#banner3-1-2-1>a:hover{
    color: #e02445;
}
#banner3-1-2-1>a>span:hover{
    color: #e02445;
}
#banner3-1-2-1>a>span>em:hover{
    color: #e02445;
}

.feature {
    padding-top: 20px;
}
.wrap {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.firmBox {
    float: left;
    border: 1px solid #ededed;
    width: 588px;
    height: 130px;
}
.firmBox h2 {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: normal;
    line-height: 42px;
    padding: 9px 0 0 20px;
    position: relative;
}
.firmBox h2 em {
    color: #ff7031;
}
.firmBox h2 .line {
    height: 0;
    line-height: 0;
    border-top: 1px solid #e4e4e4;
    position: absolute;
    width: 470px;
    top: 30px;
    right: 0px;
}
.firmBox h2 .line::before {
    content: "\e610";
    font-family: "iconfont";
    font-size: 0px;
    background: #fff;
    left: 0;
    top: -6px;
    position: absolute;
    line-height: 0px;
    height: 8px;
    width: 8px;
    border: 1px solid #e9e9e9;
    border-radius: 100%;
}
.firmBox ul {
    overflow: hidden;
    padding: 0 5px 15px 5px;
}
dl, li, ol, ul {
    list-style-type: none;
}
.firmBox ul li {
    line-height: 15px;
}
.firmBox ul li a{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 2px;
    transition: all .3s;
    color: #4d4d4d;
}
.firmBoxRi ul li {
    width: 170px;
    padding: 0 10px;
}
.firmBox ul li {
    width: 100px;
    height: 15px;
    line-height: 15px;
    float: left;
    border-right: 1px solid #e3e3e3;
    margin: 8px 0;
    padding-left: 14px;
}
.firmBoxRi{
    margin-left: 20px;
}

.firmBox ul {
    overflow: hidden;
    padding: 0 5px 15px 5px;
}
.tlTop {
    margin-top: 20px;
}
.firmBox ul li  a:hover{
    color: #ff7200;
}
#right{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 38px;
    height: 100%;
}
#rightk{
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 100%;
    border-right: 6px solid #ddd;
}
#rightbox{
    position: absolute;
    top: 45%;
    left: 0px;
    width: 38px;
    margin-top: -54px;
}
#rightbom{
    position: absolute;
    bottom: 20px;
    width: 38px;
    margin: 0px;
    padding: 0px;

}
#box1{
    width: 38px;
    height: 38px;
    background-color: #ddd;
    margin-bottom: 1px;
}
#rightbox>div{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#rightbox>div>a>img{
    width:25px;
    height: 25px;
    padding: 6px;
    position: fixed;
}
#box2{
    width: 38px;
    height: 38px;
    background-color: #ddd;
    margin-bottom: 1px;
}
#box3{
    width: 38px;
    height: 38px;
    background-color: #ddd;
    margin-bottom: 1px;
}
#box4{
    width: 38px;
    height: 38px;
    background-color: #ddd;
}
#righrbom{
    position: absolute;
    bottom: 20px;
    width: 38px;
    margin: 0px;
    padding: 0px;
}
#rightbom>a{
position: relative;
width: 38px;
height: 38px;
text-align: center;
margin-bottom: 1px;
cursor: pointer;
background-color: #ddd;
border-radius: 3px 0px 0px 3px;
color: #333;
display: inline-block;
}
#rightbom>a>img{
    width:25px;
    height: 25px;
    margin-left: -15px;
    margin-top: 5px;
    position: fixed;
}
#first{
    width: 1200px;
    height: 504px;
    margin: 0 auto;
}